.popup-dialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-width: 500px;
    min-height: 500px;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 150;
}

.popup-dialog__window {
    display: grid;
    width: 500px;
    min-height: 200px;
    grid-gap: 20px;
    background: white;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    z-index: 105;
    animation-duration: 0.5s;
    animation-name: bounceIn;
    align-items: center;
}

.popup-dialog__container {
    display: grid;
    grid-gap: 20px 0;
    justify-content: center;
}

.popup-dialog__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.popup-dialog__body {
    margin: auto;
    word-break: break-word;
}

.popup-dialog__button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.popup-dialog__button button {
    min-width: 120px;
}

.popup-dialog__title {
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.popup-dialog__title.error {
    color: red;
}

.popup-dialog__title.success {
    color: #008000;
}

.popup-dialog__title.warning {
    color: #e08000;
}

.popup-dialog__sub-title {
    text-align: center;
}

.popup-dialog__buttons {
    display: flex;
}

.close {
    width: 25px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: center;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.close:before {
    content: '';
    position: absolute;
    border: 1px solid #333;
    background: #333;
    width: inherit;
    height: 1px;
    transform: rotate(-45deg);
}

.close:after {
    content: '';
    position: absolute;
    border: 1px solid #333;
    background: #333;
    width: inherit;
    height: 1px;
    transform: rotate(45deg);
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    50%,
    55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
