.main {
    width: 400px;
    padding: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-parameters {
    display: grid;
    grid-gap: 10px;
}

.profile button, .profile a {
    margin: 10px auto;
}

.spinner {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.navigation {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.input {
    width: 50%;
    margin: 10px;
    padding: 2px 5px;
}

.checkbox {
    width: 15px;
    height: 15px;
}

td[class='text-centered'] {
    text-align: center;
}

.close-btn {
    cursor: pointer;
    color: #a6232e;
}

.deleted-item {
    text-decoration: line-through;
}

section {
    width: 250px;
    padding: 15px;
}

section input {
    width: 100%;
}

section ul {
    margin-right: 1rem;
}

section li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
